{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object|yesno:"Editar,Crear" }} Subcategoría - {{ block.super }}{% endblock %}

{% block content %}
<div class="form-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="form-title mb-0">
            <img src="{% static 'core/img/Iconos/nueva-categoria.svg' %}" alt="Icono" style="width: 40px; height: 40px; margin-right: 15px;">
            Subcategorías
        </h2>
        <a href="{% url 'activos:categoria-create' %}" class="btn btn-primary-custom">
            <i class="bi bi-plus-circle"></i> Nueva Categoría
        </a>
    </div>
    <hr class="linea" style="border-color: #32407b;">

    
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.nombre.id_for_label }}" class="form-label">
                Nombre <span class="text-danger">*</span>
            </label>
            {{ form.nombre }}
            {% if form.nombre.errors %}
            <div class="invalid-feedback d-block">
                {{ form.nombre.errors }}
            </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="{{ form.categoria.id_for_label }}" class="form-label">
                Categoría <span class="text-danger">*</span>
            </label>
            <div class="input-group">
                {{ form.categoria }}
                <button type="button" class="btn btn-outline-secondary" onclick="window.open('{% url 'activos:categoria-create' %}', '_blank')">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
            {% if form.categoria.errors %}
            <div class="invalid-feedback d-block">
                {{ form.categoria.errors }}
            </div>
            {% endif %}
        </div>

        <hr>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'activos:subcategoria-list' %}" class="btn btn-secondary">
                <i class="bi bi-x-circle"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Guardar
            </button>
        </div>
    </form>
</div>
{% endblock %}


